.selectpicker{
    margin-top: 200px;
    padding-right:40px;
    padding-left:40px;
    padding-top:10px;
    padding-bottom:10px;
    border-color: dodgerblue;
    background-color: white;
    color:dodgerblue;
}