<div class="container">
  <h2>Profile Form</h2>
  <p>
Please review the answers you provided below. If you need to make any adjustments, click on the answer you need to update and save your changes.</p> 
<p>Top of Form</p>                       
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Please provide the following information about the US company What is the legal name of the company?</td>
        <td><input type="text" name="usrname"></td>
      </tr>
      <tr>
        <td>Does the company do business under a different name (DBA)?</td>
        <td></td>
      </tr>
      <tr>
        <td>Is the company a publicly-traded business?</td>
        <td></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>When was the company established?</td>
        <td></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>What is the company's 9-digit Federal Employer Identification Number (FEIN)?</td>
        <td></td>
      </tr>
      <tr>
        <td>What is the company's North America Industry Classification System (NAICS) code?</td>
        <td></td>
      </tr>
      <tr>
        <td>Does the company have a qualifying relationship with any offices outside the US?</td>
        <td></td>
      </tr>
    </tbody><tbody>
      <tr>
        <td>What is the company's primary address in the US?</td>
        <td></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>What is the company's website URL?</td>
        <td></td>
      </tr>
      <tr>
        <td>What type of business is the company involved in?</td>
        <td></td>
      </tr>
      <tr>
        <td>Please provide at least 4 descriptive sentences about the company's products and services, including industries and companies you serve</td>
        <td></td>
      </tr>
    </tbody><tbody>
      <tr>
        <td>Is the company enrolled in the government's E-Verify program?</td>
        <td></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>Do any of the below apply to your company?</td>
        <td>Company is an institution of higher education: 
            No
        <hr>
Company is a non-profit entity affiliated with an institution of higher education:
No
        <hr>
Company is a primary or secondary education institute: 
No
        <hr>
        Company is a nonprofit research organization or governmental research organization: 
No
<hr>
 
Company is a nonprofit entity that engages in an established curriculum-related clinical training of students registered at such an institution: 
No
<hr>
Company is a willful violator who has violated Labor Condition Application (LCA) regulations: 
No
</td>
      </tr>
      <tr>
        <td>Has the company filed an H-1B, E-3, or H-1B1 previously?</td>
        <td></td>
      </tr>
      <tr>
        <td>Does the company have an L-1 blanket approval notice?</td>
        <td></td>
      </tr>
    </tbody><tbody>
      <tr>
        <td>Does the company generate revenue?</td>
        <td></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>Please provide an estimate of the company's gross annual income</td>
        <td></td>
      </tr>
      <tr>
        <td>Please provide an estimate of the company's net annual income</td>
        <td></td>
      </tr>
      <tr>
        <td>How many full-time equivalent (FTE) employees does the company currently employ in the US?</td>
        <td></td>
      </tr>
    </tbody><tbody>
      <tr>
        <td>Does the company have 8 or more full-time equivalent (FTE) employees in H-1B status?</td>
        <td></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>full name</td>
        <td></td>
      </tr>
      <tr>
        <td>Job title</td>
        <td></td>
      </tr>
    </tbody><tbody>
      <tr>
        <td>Email address</td>
        <td>srikanth.pilla@e-deft.com</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>Phone number</td>
        <td>844-993-3338 Ext 702</td>
      </tr>
      <tr>
        <td>Mobile number</td>
        <td>732-749-0362</td>
      </tr>
      <tr>
        <td>Fax number</td>
        <td>844-993-3338</td>
      </tr>
      <tr>
        <td>Will this contact person be the signer?</td>
        <td>No</td>
      </tr>
      <tr>
        <td>Does the company authorize the attorney of record to sign all forms and documents on behalf of the company?</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>full name</td>
        <td>	
Soumoya N/A Bagchi</td>
      </tr>
      <tr>
        <td>Job title</td>
        <td>	
Manager, Operations</td>
      </tr>
      <tr>
        <td>Email address</td>
        <td>sbagchi@e-deft.com</td>
      </tr>
      <tr>
        <td>Phone number</td>
        <td>844 993 3338 Xtn: 704</td>
      </tr>
      <tr>
        <td>Mobile number</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Fax number</td>
        <td>N/A</td>
      </tr>
    </tbody>
  </table>
  <p>Bottom of Form</p>
</div>
<div class="container">
    <div class="row">
      <div class="col">
          <button type="button" class="btn btn-default new-case-btn" routerLink="/dashboard-po">Submit</button>
      </div>
    </div>
</div>
<router-outlet></router-outlet>

